
<div id='container' data-section-id="{{ "app-block-testing" }}"></div>

{% schema %}
{
  "name": "Custom Pagination",
  "target": "section",
  "javascript":"main.js",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "text", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

